{% extends 'contacts/base.html' %}
{% block title %}
    Index
{% endblock %}
{% block content %}

{%if errors %}
    {%for error in errors %}
        <div class="alert alert-danger">
          <strong>Error # {{forloop.counter}}</strong> {{error}}
        </div>
        <br>

    {% endfor %}
{% endif %}
    <h2 align="center">New Contact</h2><hr/>
    <form method="POST" action="/create_contact/" style="padding:10px;">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <input type="submit"  class="btn btn-success"  value="Submit">
    </form>

{% endblock %}