<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>
<body class="">
    <div class="jumbotron text-center" style="background-color:  #10586a; color:white;">
        <h1>Contact Site</h1>
    </div>
<hr/> 
<div class="container">
   {% if request.user.id is not None%}
<h5 style="float:right;">You are currently login with <b style="color:red;">{{ request.user.username }}</b>&nbsp;&nbsp;&nbsp;<a class="btn btn-default" href="{% url 'logout' %}" style="color:white;background-color: red;">Logout</a></h5>
</div>
    {% endif %}
    <div class="container">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>