{% extends 'contacts/base.html' %}
{% block title %}
    View
{% endblock %}
{% block content %}
<div align="center">
<h2 style="color:red;">Contact Detials</h2>
<table class="table table-bordered" >
    <tbody>
        <tr>
            <th>First Name</th>
            <td>{{ contact.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ contact.last_name }}</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>{{ contact.dob }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ contact.note }}</td>
        </tr>
        <tr>
            <th style="background-color:  #10586a; color:white;text-align: center;">Emails</th>
            <td>
                {% for email in emails %}
                <tr>
                    <td>{{ email.email }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-danger btn-sm" style="color:white;" href="/email_delete/{{email.id}}/{{contact.id}}">Delete</a>
                        </div>
                    </td>
                </tr>

                {% endfor %}
            </td>
        </tr>
        <tr>
            <th style="background-color:#10586a; color:white;text-align: center;">Numbers</th>
            <td>
                {% for number in numbers %}
                   <tr>
                    <td>{{ number.number }}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-danger btn-sm" style="color:white;" href="/number_delete/{{number.id}}/{{contact.id}}">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

</div>

{% endblock %}